{% extends 'navfoot.html.twig' %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
{# {% block title %}Register{% endblock %} #}

{% block navbar %}
    {{parent()}}
    <h5 class="text-center my-5">Page d'inscription</h5>
    <div class="container d-flex justify-content-center">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}


    <div class="border border-secondary p-5 col-8">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-secondary my-3">S'inscrire</button>
    {{ form_end(registrationForm) }}
    </div>
    </div>
{% endblock %}
