{% extends 'navfoot.html.twig' %}


{% block navbar %}
    {{ parent() }}
    <div class="container">
        <div class="row">
        {% for coffret in coffrets %}  
            <div class="descript">            
                <div class="col">
                    <img src="{{asset('uploads/images/' ~ coffret.image) }}">
                </div>
                <div class="col text-center justify-content-center">
                    <li>{{ coffret.nom }}</li>
                    <li>{{ coffret.description }}</li>
                    <li>{{ coffret.prix }}€</li>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}