{% extends 'navfoot.html.twig' %}


{% block navbar %}
    {{ parent() }}
    <div class="container">
        <div class="row">
        {% for incontournable in incontournables %}  
            <div class="details">            
                <div class="col">
                    <img src="{{asset('uploads/images/' ~ incontournable.image) }}">
                </div>
                <div class="col text-center justify-content-center">
                    <li>{{ incontournable.nom }}</li>
                    <li>{{ incontournable.description }}</li>
                    <li>{{ incontournable.prix }}€</li>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}