{% extends 'navfoot.html.twig' %}


{% block navbar %}
    {{ parent() }} 

    {% block incontournable %}
        <div class="container">
            <div class="row">
                <div class="d-flex flex-row justify-content-evenly my-5 flex-wrap ">                
                        {% for incontournable in incontournables %}         
                            <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center chocolats-incon m-2">
                                <img src="{{asset('uploads/images/' ~ incontournable.image) }}" class="card-img-top" alt="..." style=" height:300px;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ incontournable.nom }}</h5>
                                    <p class="card-text">{{ incontournable.description }}</p>
                                    <p class="card-text">{{ incontournable.prix }}€</p>
                                    <a href="{{ path('contact') }}" class="btn btn-light">Nous contacter</a>
                                </div>
                            </div>             
                        {% endfor %}
                    </div> 
                </div>   
            </div>
    {% endblock %}
{% endblock %}
